.DS_Store
.env*
.gitignore
.psc-ide-port
.terraform.lock.hcl
.terraform/
*.coverage
*.spago
*.sql
*.svg
*.tar.gz
*.tgz
*.types
*.zip
bower_components/
build/
coverage/
dist/
generated-docs/
node_modules/
output/
venv/
yarn-error.log
yarn.lock
